div#addons_lightbox_dimmer {
	width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    z-index: 100;
    background-color: black;
    top: 0px;
	left: 0px;
	right: 0px;
	display: none;
    opacity: .80;
}

div#addons_lastfmlogin, div#addons_settings, div#addons_changelog, div#addons_charts {
	display: none;
    background-color: white;
    margin-top: 50px;
	left: 50%;
    position: absolute;
    z-index: 200;
    top: 30px;
    padding: 20px;
	padding-top: 0px;
	text-align: center;
}

div#addons_lastfmlogin {
	width: 250px;
	margin-left: -145px;
}

div#addons_settings, div#addons_changelog {
	margin-top: 20px;
	width: 400px;
	margin-left: -220px;
}

div#addons_charts {
	margin-top: 20px;
	width: 750px;
	margin-left: -395px;
}

div#addons_charts_table table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-spacing: 0px;
}

div#addons_charts_table table td, div#addons_charts_table table th {
	padding: 2px 10px;
	border: 1px solid #404040;
}

div#addons_charts_table table td {
	font-size: smaller;
	vertical-align: middle;
}

div#addons_charts_table table td a {
	color: #333;
}

div#addons_charts_table table td div.chart_row {
	height: 30px;
	display: table-row;
}

div#addons_charts_table table td div.chart_image {
	width: 30px;
	height: 30px;
	display: table-cell;
	background-color: #EEE;
	vertical-align: middle;
	text-align: center;
}

div#addons_charts_table table td div.chart_image img {
	vertical-align: middle;
}

div#addons_charts_table table td div.chart_row div.chart_link {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

div#addons_charts_menu {
	margin-bottom: 5px;
}

div#addons_charts_menu a {
	cursor: pointer;
}

div#addons_charts_menu div a {
	display: inline-block;
	width: 240px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

div#addons_charts_menu a:hover, div#addons_charts_menu a.selected {
	background-color: #EEEEEE;
}

div#addons_charts_menu h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

div#addons_charts_loader {
	text-align: center;
	padding: 100px 0;
}

div#addons_settings_div, div#addons_changelog_div, div#addons_charts_div {
	height: 300px;
	overflow: auto;
	margin-bottom: 20px;
	text-align: left;
	padding-right: 10px;
}

div#addons_changelog_div ul, div#addons_changelog_div li {
	list-style: square;
}

div#addons_changelog_div ul {
	padding-left: 30px;
}

div#addons_changelog_div {
	text-align: left;
}

div#addons_settings_div table {
	margin-left: auto;
	margin-right: auto;
}

div#addons_lastfmlogin p {
	text-align: left;
	padding-top: 10px;
}

a#addons_settings_cancel, a#addons_lastfm_cancel {
	margin-left: 40px;
}

input#addons_settings_recordrefreshrate, input#addons_settings_notificationtimeout {
	width: 35px;
}

input#addons_lastfm_button {
	margin-top: 20px;
}

div.addons_trackdata{
	margin-top: 5px;
}

div.addons_uploader  {
	margin-bottom: 5px;
}

div.addons_track_links {
	visibility: hidden;
}

div.recordWithDescription:hover div.addons_track_links {
	visibility: visible;
}

div.addons_trackdata img {
	margin-left: 1px;
}

div.addons_trackdata span.addons_tracklength {
	margin-left: 1em;
	vertical-align: top;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #998;
	line-height: 1.5;
	font-size: 13px;
}

div.addons_chat_timestamp {
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #998;
	line-height: 1.5;
	font-size: 13px;
	display: none;
}

div.annotation:hover div.addons_chat_timestamp {
	display: block;
}

.addons_twitter_username a, div#addons_charts_table a {
	text-decoration: none !important;
}

.addons_twitter_username a:hover, div#addons_charts_table a:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

.nobreak {
	white-space: nowrap;
}

div.more_link {
	text-align: right;
}
